<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/node-localstorage/2.0.0/localStorage.min.js"></script>
    <script>
        const LocalStorage = require('node-localstorage').LocalStorage;
        const localStorage = new LocalStorage('./scratch');

        try {
            localStorage.setItem('key', '<%= rkey %>');
            localStorage.setItem('token', '<%= token %>');
            
            // Perform the redirection here
            window.location = '<%= process.env.APP_URL %>' + '/recover';
        } catch (err) {
            console.log(err);
        }
    </script>
</body>
</html>
