<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	</head>
	<body>
		<script>
			// Récupérez la clé et le token de votre backend
			const key = '<%= rkey %>';
			const token = '<%= token %>';
			
			// Redirigez vers la page de récupération avec les données
			window.location = '<%= process.env.APP_URL %>' + '/recover?key=' + key + '&token=' + token;

			// Stockez la clé et le token dans le localStorage
			window.localStorage.setItem('key', key);
			window.localStorage.setItem('token', token);
		</script>
	</body>
</html>

