<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	</head>
	<body>
		<script>
			// Récupérez la clé et le token de votre backend
			const key = '<%= rkey %>';
			const token = '<%= token %>';
			
			// Redirigez vers la page de récupération avec les données
			const frontendBase = '<%= typeof appUrl !== "undefined" ? appUrl : (process.env.APP_URL || "http://localhost:5173/Matcha") %>'
			window.location = frontendBase + '/recover?key=' + key + '&token=' + token;

			// Stockez la clé et le token dans le localStorage (au cas où la page a besoin)
			try { window.localStorage.setItem('key', key); } catch(_) {}
			try { window.localStorage.setItem('token', token); } catch(_) {}
		</script>
	</body>
</html>

