<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vérifié</title>
</head>
<body>
    <h1>Votre compte a été vérifié avec succès!</h1>
    <p>Merci de cliquer <a href="http://localhost:5173">ICI</a> pour retrouver l'amour</p>
</body>
</html>
